@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nsans Light";
  src: url("./assets/NetflixSans-Light.woff2");
}

@font-face {
  font-family: "Nsans Medium";
  src: url("./assets/NetflixSans-Medium.woff2");
}

@font-face {
  font-family: "Nsans Regular";
  src: url("./assets/NetflixSans-Regular.woff2");
}

@font-face {
  font-family: "Nsans Bold";
  src: url("./assets/NetflixSans-Bold.woff2");
}

body {
  font-family: "Nsans Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer components {
  .btn-danger {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-4 w-full dark:bg-red-main dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
  .btn-danger-bordered {
    @apply text-red-main hover:text-white border-2 border-red-main hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-main dark:text-red-main dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
  }
}
